<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="click.bcyeon.back01.restapi.post.mapper.PostMapper">

    <insert id="insertPost">
        INSERT INTO post (
            title,
            content
        ) VALUES (
            #{title},
            #{content}
        )
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertPostFile">
        INSERT INTO post_file (
            post_id,
            original_name,
            saved_name,
            file_type,
            file_url
        ) VALUES (
            #{postId},
            #{originalName},
            #{savedName},
            #{fileType},
            #{fileUrl}
        )
    </insert>


    <select id="selectPostFiles" resultType="click.bcyeon.back01.restapi.post.dto.PostFileDto">
        SELECT id, post_id, original_name, saved_name, file_type, file_url, created_at
        FROM post_file
        WHERE post_id = #{postId}
    </select>

    <delete id="deletePostFiles">
        DELETE FROM post_file WHERE post_id = #{postId}
    </delete>

    <update id="softDeletePost">
        UPDATE post SET is_deleted = 1 WHERE id = #{id}
    </update>

    <select id="selectPostList" resultType="click.bcyeon.back01.restapi.post.dto.PostListRawDto">
        SELECT id, title, content, created_at
        FROM post
        WHERE is_deleted = 0
        <if test="lastId > 0">
            AND id &lt; #{lastId}
        </if>
        ORDER BY id DESC
        LIMIT #{size}
    </select>

</mapper>
