<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="VISITOR_LOG_PATH" source="log.visitor.path" defaultValue="logs"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="VISITOR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${VISITOR_LOG_PATH}/visitor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${VISITOR_LOG_PATH}/visitor-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="visitor-log" level="INFO" additivity="false">
        <appender-ref ref="VISITOR_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
